{% load static %}
<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{% block title %}Ana Sayfa{% endblock %}</title>
   <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
   <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
   <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}">
   {% block CSS %}
   {% endblock %}
</head>
<body id="page-top">
   <div id="wrapper">
      {% include 'includes/sidebar.html' %}
      <div id="content-wrapper" class="d-flex flex-column">
         <div id="content">
            {% include 'includes/navbar.html' %}
            <div class="container-fluid">
            </div>
            {% block content %}
            {% endblock %}
         </div>
      </div>
      {% block JS %}
                <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
      <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
      <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
      <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>
      <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>

    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>
      {% endblock %}




   </div>


</body>
</html>