{% extends 'includes/base.html' %}
{% load static %}
{% block content %}
{% load i18n %}
<div class="container">
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
        </div>
    {% endfor %}
{% endif %}
   {% if user.is_authenticated %}
       {% include 'postshtml/sharePost.html' %}
         {% for post in posts %}
            <div class="deneme" style="display: inline;">
            {% include 'postshtml/post.html' %}
            {% empty %}
            <div class="card shadow mb-4">
                     <div class="card-header py-3">
                         <h6 class="m-0 font-weight-bold text-danger text-center">Maalesef Hiç Gönderi Yok!</h6>
                     </div>
                     <div class="card-body text-center">
                         Ana sayfanda hiç gönderi yok. Birilerini takip et ya da gönderi paylaş.
                     </div>
            </div>
            </div>
         {% endfor %}
   {% else %}
       {% include 'postshtml/ananymousUserAlert.html' %}
   {% endif %}

</div>

    {% include 'includes/logoutModal.html' %}
<script>
$.cookie('last-scroll-top', $(window).scrollTop());
document.location.reload(true);
var lastScrollTop = $.cookie('last-scroll-top');
if (lastScrollTop) {
    $(window).scrollTop(lastScrollTop);
    $.removeCookie('last-scroll-top');
}
</script>
{% endblock %}
