{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Kayıt Ol</title>
      <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
         rel="stylesheet">
      <!-- Custom styles for this template-->
      <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}">
   </head>
   <body class="bg-gradient-primary">

      <div class="container">
             {% if messages %}
    {% for message in messages %}
       <div{% if message.tags %} class="alert alert-{{ message.tags }} m-3 p-3 rounded"{% endif %}>{{ message }}</div>
    {% endfor %}
{% endif %}



         <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
               <!-- Nested Row within Card Body -->
               <div class="row">
                  <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_xyadoh9h.json"  background="transparent"  speed="1"  style="width: 41%; height:41%;padding-top: 1%;padding-left: 1%"  loop autoplay></lottie-player>
                  <div class="col-lg-7">
                     <div class="p-5">
                        <div class="text-center">
                           <h1 class="h4 text-gray-900 mb-4">Hesap Oluştur</h1>
                        </div>
                        <form class="user" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                           <div class="form-group row">
                              <div class="col-sm-6 mb-3 mb-sm-0">
                                  {{ form.first_name }}
                              </div>
                              <div class="col-sm-6">
                                  {{ form.last_name }}
                              </div>
                           </div>
                           <div class="form-group">
                                  {{ form.username }}
                           </div>
                            <div class="form-group">
                                {{ form.email }}
                           </div>
                           <div class="form-group row">
                              <div class="col-sm-6 mb-3 mb-sm-0">
                                {{ form.password1 }}
                              </div>
                              <div class="col-sm-6">
                                 {{ form.password2 }}
                              </div>
                           </div>
                           <div class="form-group row">
                                  <div class="col-lg-6 mb-2">
                                    <div class="card bg-info text-white shadow">
                                        <div class="card-body">
                                            Profil Fotoğrafı Seç
                                        </div>
                                    </div>
                                </div>
                              <div class="col-sm-6 mb-2">
                                        {{ form.profilePhoto }}
                                 <a id="upload_link" class="btn btn-success btn-icon-split btn-lg" style="margin: 2px">
                                 <span class="icon text-white-50">
                                 <i class="fas fa-image"></i>
                                 </span>
                                 <span class="text">Fotoğraf Yükle</span>
                                 </a>
                              </div>
                           </div>
                           <button type="submit" class="btn btn-primary btn-user btn-block">
                           Kayıt Ol
                           </button>
                        </form>
                        <hr>
                        <div class="text-center">
                           <a class="small" href="forgot-password.html"></a>
                        </div>
                        <div class="text-center">
                           <a class="small" href="{% url 'url_login' %}">Hesabın zaten var mı, Giriş Yap</a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
      <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
      <script>
         $(function(){
             $("#upload_link").on('click', function(e){
                 e.preventDefault();
                 $("#uploadfile:hidden").trigger('click');
             });
         });
      </script>
   </body>
</html>